*,
*::before,
*::after {
	box-sizing: border-box;
}

/* variables */
:root {
	--red: hsl(360, 91%, 36%);
	--light-red: #d76464;
}

html,
body,
.wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #f9fbfd;
}

.wrapper {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	color: hsl(206, 17%, 28%);
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
	color: hsl(206, 17%, 28%);
	font-size: 18px;
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 40px;
}

.card-header::after {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.card-body {
	min-height: 100px;
}

.card-footer {
	text-align: center;
}

.card-footer::before {
	content: " ";
	display: block;
	width: 100%;
	background: #e7e9eb;
	height: 2px;
}

.card-footer::after {
	content: " ";
	display: block;
	clear: both;
}

.btn {
	border: none;
	background-color: var(--red);
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	margin: 16px 16px 16px 20px;
	padding: 14px 34px;
	text-align: center;
	cursor: pointer;
}

button[disabled] {
	cursor: default;
	background: #c0c7cf;
}

.float-right {
	float: right;
}

#password {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 85px;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dashed #c0c7cf;
	border-radius: 6px;
	resize: none;
	overflow: hidden;
}

/* MODAL */

/* modal background */

.modal {
	/* display: none; hidden by default */
	position: fixed; /* stay in place */
	z-index: 1; /* sit on top */
	padding-top: 100px; /* box location*/
	left: 0;
	top: 0;
	width: 100%; /* full width */
	height: 100%; /* full height */
	overflow: auto; /* allow scrolling */
	background-color: black; /* fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* black with opacity */
}

/* Modal Content */

.modal-content {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal-body {
	display: flex;
	margin: 8px;
}

/* Modal header & footer */

.modal-header,
.modal-footer {
	padding: 2px 16px;
	background-color: var(--light-red);
}

/* The Close Button */

.modal-close {
	margin-left: auto;
	margin-right: 0;
	color: #aaaaaa;
	/* float: right; */
	font-size: 28px;

	font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* margin between individual checkbox items */

form input {
	margin: 8px;
}

/* checkbox styling */

input:checked + label {
	color: red;
}
#lowercase {
}
/* Password display on modal */

.generated-password-div {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	min-width: 0;
	flex-wrap: wrap;
	background-color: lightcoral;
	margin-left: 16px;
	/* flex-grow: 1; */
	/* text-align: center; */
	font-size: 2rem;
}

/* SLIDER STYLING START 
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/

.slider {
	opacity: 0.7;
	transition: 0.2s;
	transition: opacity 0.2s;
	cursor: pointer;
}

.slider:hover {
	opacity: 1;
}

/* 
slider style reset
*/

input[type="range"] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type="range"]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/* 
styling the thumb (the thing you drag) 
*/

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

/* 
styling the slider track 
*/

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: var(--light-red);
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: var(--light-red);
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
	background: var(--light-red);
}
input[type="range"]::-ms-fill-upper {
	background: var(--light-red);
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #367ebd;
}

/* 
MEDIA QUERIES 
*/

@media (max-width: 690px) {
	.btn {
		font-size: 1rem;
		margin: 16px 0px 0px 0px;
		padding: 10px 15px;
	}

	#password {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {
	.btn {
		font-size: 0.8rem;
	}
}
